.Users-layout {
  display: table-row;
}

.Users-block {
  display: table-cell;
  padding-left: 40px;
}

.Users-header {
  color: SteelBlue;
}

.Users-name {
  font-size: 1.2em;
  font-weight: bolder;
}
